@page
@model TrustBankApp.Pages.UsersModel
@{
}

<div class="container py-5">    
    <h1 class="fw-bolder text-success">USERS</h1>
    <p class="fs-4 lh-sm fw-bold">List of Registered Users</p>
    <p>
        <a asp-page="/Index" class="btn btn-success"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back</a>
    </p>
    <hr />
    <table class="table table-success table-striped table-hover shadow">
        <thead>
            <tr>                
                <th>ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                        <a asp-page="UpdateUser" asp-route-userId="@user.Id">
                            <i class="fa-solid fa-user-pen px-3"></i>
                            &nbsp;Update
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
