@page
@model TrustBankApp.Pages.CustomersModel

@if (TempData["success"] != null)
{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>*@
    <h1>@TempData["success"]</h1>
}

<div class="container py-5 mt-5">
    <h1>All Customers</h1>
    <h5>Total Records: @Model.Customers.TotalRows</h5>
    <h5>Page @Model.CurrentPageNumber of @Model.TotalPages</h5>

    <form>
        <div class="input-group mb-3">
            <button class="btn btn-outline-success" type="submit" id="inputGroupFileAddon03">
                <i class="fa-solid fa-search"></i>
            </button>
            <input type="search" id="form1" class="form-control"
                   asp-for="@Model.SearchText"
                   placeholder="Id, Name, City" />
            <input type="hidden" asp-for="@Model.Customers" />
        </div>
    </form>

    <p class="text-end">
        <a class="btn btn-success" asp-page="/Customers/CreateCustomer">
            <i class="fa-solid fa-circle-plus"></i>&nbsp;Create New
        </a>
        <a class="btn btn-warning" asp-page="/Index"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back</a>
    </p>
    <table class="table table-success table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Id
                    <a asp-page="/Customers/Customers"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="customerId"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Customers/Customers"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="customerId"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Natoinal Id
                    <a asp-page="/Customers/Customers"
                       asp-route-sortColumn="nationalId"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Customers/Customers"
                       asp-route-sortColumn="nationalId"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Full Name
                    <a asp-page="/Customers/Customers"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="name"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Customers/Customers"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="name"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Address
                    <a asp-page="/Customers/Customers"
                       asp-route-sortColumn="address"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Customers/Customers"
                       asp-route-sortColumn="address"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    City
                    <a asp-page="/Customers/Customers"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="city"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Customers/Customers"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="city"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Country
                    <a asp-page="/Customers/Customers"
                       asp-route-sortColumn="country"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Customers/Customers"
                       asp-route-sortColumn="country"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Detail
                </th>
                <th>Quick Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers.Results)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.NationalId</td>
                    <td>@customer.FullName</td>
                    <td>@customer.Addres</td>
                    <td>@customer.City</td>
                    <td>@customer.Country</td>
                    <td>
                        <a title="show details" class="more"
                       asp-page="/Customers/Customer"
                       asp-route-customerId="@customer.CustomerId">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                    <td>
                        <a id="show" title=""
                           href="javascript:fetchInfo(@customer.CustomerId)">
                            <i class='fa-solid fa-circle-info'></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @*Extra Info*@
    <div id="show" class="card text-light bg-dark">
        <div class="card-header">
            <h1>Extra Info</h1>
        </div>
        <div class="card-body">
            <div>
                <h3 class="">Account Id: <span id="accountId"></span></h3>
                <h3>Account Balance: <span id="balance"></span></h3>
            </div>
        </div>
    </div>

    @*pagination*@
    <div class="mt-5">
        <nav class="" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.CurrentPageNumber != 1)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Customers/Customers"
                       asp-route-pageNo=0 aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Customers/Customers"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPageNumber-1)">
                            Previous
                        </a>
                    </li>
                }

                @for (var i = Model.Customers.StartPage; i <= Model.Customers.EndPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Customers/Customers"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-startPage="@Model.StartPage"
                       asp-route-pageNo="@i">
                            @i
                        </a>
                    </li>

                }
                @if (Model.CurrentPageNumber != Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Customers/Customers"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPageNumber+1)">
                            Next
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Customers/Customers"
                       asp-route-pageNo="@Model.TotalPages" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    <script>
        function fetchInfo(customerId) {
            fetch("/Customers/Customers?handler=FetchInfo&customerId=" + customerId)
                .then((response) => response.json())
                .then((json) => {
                    document.getElementById('show').style.display = "grid";
                    document.getElementById('accountId').innerHTML = json.accountId;
                    document.getElementById('balance').innerHTML = json.balance;
                })
        }
    </script>
}