@page
@model TrustBankApp.Pages.CustomerModel
@{
}

<div class="container py-5">
    <div class="col-md-10 offset-1">
        <h1>CUSTOMER PROFILE</h1>
        <hr />
        <div class="customer-card rounded shadow border border-success d-flex row p-3">
            <div class="border-lg-end col-lg-4 text-center p-3 d-flex flex-column align-items-center justify-content-between">
                @if (Model.CustomerVM.Gender.ToLower() == "male")
                {
                    <img src="/assets/img/man.png" alt="Admin" class="rounded-circle" width="150">
                }
                else if (Model.CustomerVM.Gender.ToLower() == "female")
                {
                    <img src="/assets/img/woman.png" alt="Admin" class="rounded-circle" width="150">
                }
                else
                {
                    <img src="/assets/img/user.png" alt="Admin" class="rounded-circle" width="150">
                }

                <h3 class="fs-1 m-0 text-warning text-wrap">@Model.CustomerVM.FullName</h3>
                <h3 class="fs-3 m-0 text-light">Customer Id</h3>

                <h3 class="fs-4 m-0 text-dark">@Model.CustomerVM.CustomerId</h3>
                <h3 class="fs-3 m-0 text-light">Social Security</h3>
                @if (!string.IsNullOrEmpty(Model.CustomerVM.NationalId))
                {
                    <h3 class="fs-4 m-0 text-dark">@Model.CustomerVM.NationalId</h3>
                }
                else
                {
                    <h3 class="fs-4 m-0 text-dark">N/A</h3>
                }
                <p class="text-secondary mb-1"></p>
                <div>
                    <a class="btn btn-primary"
                       asp-page="/Customers/Customers">
                        <i class="fa-solid fa-arrow-left fa-lg"></i>
                        &nbsp;BACK
                    </a>
                    <a class="btn btn-outline-warning border"
                       asp-page="/Customers/EditCustomer"
                       asp-route-customerId="@Model.CustomerVM.CustomerId">
                        <i class="fas fa-edit fa-lg"></i>
                        &nbsp;EDIT
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 class="pt-3 text-warning">Customer Details</h3>
                <table class="table">
                    <tr>
                        <th class="col-4">Disposition</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="col-4">Birthday</th>
                        <td>@Model.CustomerVM.Birthday</td>
                    </tr>
                    <tr>
                        <th class="col-4">Age</th>
                        <td>@Model.CustomerVM.Age</td>
                    </tr>
                    <tr>
                        <th class="col-3">Address</th>
                        <td>@Model.CustomerVM.Address</td>
                    </tr>
                    <tr>
                        <th class="col-4">City</th>
                        <td>@Model.CustomerVM.City</td>
                    </tr>
                    <tr>
                        <th class="col-4">Country</th>
                        <td>@Model.CustomerVM.Country</td>
                    </tr>
                    <tr>
                        <th class="col-4">Zipcode</th>
                        <td>@Model.CustomerVM.Zipcode</td>
                    </tr>
                    <tr>
                        <th class="col-4">Phone</th>
                        <td>@Model.CustomerVM.PhoneNumber</td>
                    </tr>
                    <tr>
                        <th class="col-4">Email</th>
                        <td>@Model.CustomerVM.Emailaddress</td>
                    </tr>

                </table>
                <h3 class="pt-3 text-warning">Accounts Detail</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account No.</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model.CustomerVM.Accounts)
                        {
                            <tr>
                                <td>@account.AccountId</td>
                                <td>@account.Balance</td>
                                <td class="d-lg-flex gap-3 justify-content-center">
                                    <a class="text-dark" asp-page="/Accounts/Deposit"
                                   asp-route-customerId="@Model.CustomerVM.CustomerId"
                                   asp-route-accountId="@account.AccountId">
                                        <i class="fa-solid fa-circle-plus fa-lg"></i>
                                    </a>
                                    <a class="text-dark" asp-page="/Accounts/Withdrawl"
                                   asp-route-customerId="@Model.CustomerVM.CustomerId"
                                   asp-route-accountId="@account.AccountId">
                                        <i class="fa-solid fa-circle-minus fa-lg"></i>
                                    </a>
                                    <a class="text-dark" asp-page="/Accounts/Transfer"
                                   asp-route-customerId="@Model.CustomerVM.CustomerId"
                                   asp-route-accountId="@account.AccountId">
                                        <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                                    </a>
                                    <a class="text-dark"
                                   asp-page="/Accounts/Transactions"
                                   asp-route-customerId=@Model.CustomerVM.CustomerId
                                   asp-route-accountId="@account.AccountId">
                                        <i class="fa-solid fa-circle-info fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>Total Balance</th>
                            <td>@Model.CustomerVM.TotalBalance</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>