@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h2>Welcome to <span>TRUST BANK</span></h2>
                <p>Trust Bank is entrusted by and prouldy serving its customers in all of SCANDINAVIA.</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="icon-boxes position-relative">
        <div class="container position-relative">
            <div class="row gy-4 mt-5">

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    @*SWEDEN Stats*@
                    <div class="icon-box" style="">
                        <h2 class="title" style="font-size: 40px">
                            <a asp-page="/TopTenAccounts/TopTenAccounts" asp-route-countryName="Sweden" class="stretched-link text-warning">Sweden</a>
                        </h2>
                        <div class="icon"><i class="bi bi-people-fill"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsSweden.Clients</a></h4>
                        <div class="icon"><i class="bi bi-bank"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsSweden.Accounts</a></h4>
                        <div class="icon"><i class="bi bi-cash-stack"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsSweden.Capital</a></h4>
                    </div>
                </div><!--End Icon Box -->

                @*DENMARK Stats*@
                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <h2 class="title" style="font-size: 40px">
                            <a asp-page="/TopTenAccounts/TopTenAccounts" asp-route-countryName="Denmark" class="stretched-link text-warning">Denmark</a>
                        </h2>
                        <div class="icon"><i class="bi bi-people-fill"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsDenmark.Clients</a></h4>
                        <div class="icon"><i class="bi bi-bank"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsDenmark.Accounts</a></h4>
                        <div class="icon"><i class="bi bi-cash-stack"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsDenmark.Capital</a></h4>
                    </div>
                </div><!--End Icon Box -->

                @*FINLAND Stats*@
                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <h2 class="title" style="font-size: 40px">
                            <a asp-page="/TopTenAccounts/TopTenAccounts" asp-route-countryName="Finland" class="stretched-link text-warning">Finland</a>
                        </h2>
                        <div class="icon"><i class="bi bi-people-fill"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsFinland.Clients</a></h4>
                        <div class="icon"><i class="bi bi-bank"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsFinland.Accounts</a></h4>
                        <div class="icon"><i class="bi bi-cash-stack"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsFinland.Capital</a></h4>
                    </div>
                </div><!--End Icon Box -->

                @*NORWAY Stats*@
                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <h2 class="title" style="font-size: 40px">
                            <a asp-page="/TopTenAccounts/TopTenAccounts" asp-route-countryName="Norway" class="stretched-link text-warning">Norway</a>
                        </h2>
                        <div class="icon"><i class="bi bi-people-fill"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsNorway.Clients</a></h4>
                        <div class="icon"><i class="bi bi-bank"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsNorway.Accounts</a></h4>
                        <div class="icon"><i class="bi bi-cash-stack"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">@Model.StatsNorway.Capital</a></h4>
                    </div>
                </div><!--End Icon Box -->

            </div>
        </div>
    </div>

</section>
<!-- End Hero Section -->
