@page
@model TrustBankApp.Pages.TopTenAccounts.TopTenAccountsModel
@{
}

<div class="container py-5">

    <h1 class="fw-bolder text-success">Top Ten Accounts By Country: <span class="text-warning">@Model.Country</span></h1>
    <p class="fs-6 lh-1 fst-italic text-muted">
        Last updated: @DateTime.Now
    </p>
    <p>
        <a asp-page="/Index" class="btn btn-success"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back</a>
    </p>
    <hr />
    <table class="table table-success table-striped table-hover shadow">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Social Security</th>
                <th>Email</th>
                <th>Account</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.TopTenAccounts)
            {
                <tr>
                    <td>@account.CustomerId</td>
                    <td>@account.Name</td>
                    <td>@account.NationalId</td>
                    <td>@account.Email</td>
                    <td>@account.AccountId</td>
                    <td>@account.Balance</td>
                </tr>
            }
        </tbody>
    </table>
</div>