@page
@model TrustBankApp.Pages.Accounts.AccountsModel
@{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
}

<div class="container py-5 mt-5">
    <h1>ALL ACCOUNTS</h1>
    <h5>Total Records: @Model.Accounts.TotalRows</h5>
    <h5>Page @Model.CurrentPageNumber of @Model.TotalPages</h5>

    <form>
        <div class="input-group mb-3">
            <button class="btn btn-outline-success" type="submit" id="inputGroupFileAddon03">
                <i class="fa-solid fa-search"></i>
            </button>
            <input type="search" id="form1" class="form-control"
                   asp-for="@Model.SearchText"
                   placeholder="Enter account id to search" />
            <input type="hidden" asp-for="@Model.Accounts" />
        </div>
    </form>

    <p class="text-end">
        <a class="btn btn-warning" asp-page="/Index"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back</a>
    </p>
    <table class="table table-success table-hover table-striped shadow">
        <thead>
            <tr>
                <th>
                    AccountId
                    <a asp-page="/Accounts/Accounts"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="accountId"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Accounts/Accounts"
                       asp-route-searchText="@Model.SearchText"
                       asp-route-sortColumn="accountId"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Frequency
                    <a asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="frequency"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="frequency"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Date Created
                    <a asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="date"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="date"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Balance
                    <a asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="balance"
                       asp-route-sortOrder="asc">
                        <i class="fa-solid fa-sort-up"></i>
                    </a>
                    <a asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="balance"
                       asp-route-sortOrder="desc">
                        <i class="fa-solid fa-sort-down"></i>
                    </a>
                </th>
                <th>
                    Detail
                </th>
                <th>Quick Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Accounts.Results)
            {
                <tr>
                    <td>@account.AccountId</td>
                    <td>@account.Frequency</td>
                    <td>@account.DateCreated.ToShortDateString()</td>
                    <td>@account.Balance</td>
                    <td>
                        <a title="show details" class="more"
                       asp-page="/Accounts/Accounts"
                       asp-route-accountId="@account.AccountId">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </a>
                    </td>
                    <td>
                        <a id="quick-info" title="show quick info"
                           href="javascript:fetchInfo(@account.AccountId)">
                            <i class='fa-solid fa-circle-info'></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



    @*pagination*@
    <div class="mt-5">
        <nav class="" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.CurrentPageNumber != 1)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Accounts"
                       asp-route-pageNo=0 aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPageNumber-1)">
                            Previous
                        </a>
                    </li>
                }

                @for (var i = Model.Accounts.StartPage; i <= Model.Accounts.EndPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-startPage="@Model.StartPage"
                       asp-route-pageNo="@i">
                            @i
                        </a>
                    </li>

                }
                @if (Model.CurrentPageNumber != Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Accounts"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPageNumber+1)">
                            Next
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Accounts"
                       asp-route-pageNo="@Model.TotalPages" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    <script>
        function fetchInfo(accountId) {
            fetch("/Accounts/Accounts?handler=FetchInfo&accountId=" + accountId)
                .then((response) => response.json())
                .then((json) => {
                    toastr.info(
                        `
                        Account Owner Detail<br>
                        Full Name: <h5>${json.fullName}</h5><br>
                        Customer Id: ${json.customerId}<br>
                        Country: ${json.country}<br>
                        Email: ${json.email}<br>`
                    );
                });
        }
    </script>
}