@page
@model TrustBankApp.Pages.Accounts.DepositModel
@{
}

<div class="container mt-5 pt-5 d-flex flex-column gap-3">
    <div class="section-title border border-danger">
        <h1>Make a Deposit</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-between border border-danger p-lg-5 bg-dark rounded text-light" style="border: 1px solid green;">
        <form class="" method="post">
            <div class="input-group d-flex flex-column justify-content-center align-items-center">
                <h1>Account Number</h1>
                <h1>@Model.DepositViewModel.AccountId</h1>
                <h1>Current Balance</h1>
                <h1>@Model.DepositViewModel.Balance</h1>
                <div class="d-flex flex-column mb-3">
                    <input class="" type="text" 
                        placeholder="10 to 100000"
                        asp-for="@Model.DepositViewModel.Amount"/>
                    <span class="text-danger" 
                        asp-validation-for="@Model.DepositViewModel.Amount"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary p-2"
                        asp-route-accountId = "@Model.DepositViewModel.AccountId"
                        asp-route-customerId="@Model.DepositViewModel.CustomerId">
                        Deposit
                    </button>
                    <button type="submit" class="btn btn-primary p-2"
                        asp-page="/Customers/Customer"
                        asp-route-customerId="@Model.DepositViewModel.CustomerId"
                        >
                        Back
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}