@page
@model TrustBankApp.Pages.Accounts.DepositModel
@{
}

<div class="container mt-5 pt-5">
    <div class="container mt-5 p-5 box-theme text-light rounded-2" style="margin-bottom: 150px">
        <h1 class="fs-1 fw-bolder">MAKE <span class="text-warning">DEPOSIT</span></h1>
        <hr />
        <h1>TO ACCOUNT NO: <span class="text-warning">@Model.DepositViewModel.AccountId</span></h1>
        <h1>CURRENT BALANCE: <span id="balance" class="text-warning">@Model.DepositViewModel.Balance</span></h1>
        <div>
            <form method="post">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row col-12">
                            <div class="mb-3 col-12">
                                <label asp-for="@Model.DepositViewModel.Amount" class="form-label">
                                    Amount
                                </label>
                                <input id="amount" type="text" class="form-control" placeholder="Enter an amount between 10-100000 kr"
                                       asp-for="@Model.DepositViewModel.Amount">
                                <span class="text-danger"
                                      asp-validation-for="@Model.DepositViewModel.Amount"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 id="after-balance-div" class="d-none">
                    BALANCE AFTER TRANSACTION:
                    <span id="after-balance" class="text-info">@Model.DepositViewModel.Balance</span>
                </h1>
                <div class="mt-3">
                    <button type="submit" class="btn btn-warning"
                            asp-route-accountId="@Model.DepositViewModel.AccountId"
                            asp-route-customerId="@Model.DepositViewModel.CustomerId">
                        <i class="fa-solid fa-sack-dollar"></i>
                        &nbsp;Deposit
                    </button>
                    <a class="btn btn-primary"
                       asp-page="/Customers/Customer"
                       asp-route-customerId="@Model.DepositViewModel.CustomerId">
                        <i class="fa-solid fa-arrow-left"></i>
                        &nbsp;Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        var element = document.getElementById('amount');
        element.addEventListener("keyup", afterBalance);

        function afterBalance(element) {
            if (element.target.value > 0) {
                var amount = parseFloat(element.target.value);
                var currentBalance = parseFloat(@Model.DepositViewModel.Balance)
                var sum = currentBalance + amount;

                document.getElementById('after-balance-div').className = "d-block";
                document.getElementById('after-balance').innerHTML = sum;
            }
            else{
                document.getElementById('after-balance-div').className = "d-block";
                document.getElementById('after-balance').innerHTML = @Model.DepositViewModel.Balance;
            }
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}