@page
@model TrustBankApp.Pages.Accounts.TransactionsModel
@{
}

<div class="container py-5">

    <h1 class="fw-bolder text-success">TRANSACTIONS</h1>
    <h4 class="fw-bolder text-success">
        ACCOUNT ID: <span class="text-warning">@Model.AccountId</span>
    </h4>
    <h4 class="fw-bolder text-success">
        CURRENT BALANCE: <span class="text-warning">@Model.Balance</span>
    </h4>
    <h4>Total Records: @Model.Transactions.Count()</h4>
    <p class="fs-6 lh-1 fst-italic text-muted">
        Last updated: @DateTime.Now
    </p>
    <p>
        <a asp-page="/Customers/Customer"
           asp-route-customerId="@Model.CustomerId"
           class="btn btn-success">
            <i class="fa-solid fa-arrow-left"></i>&nbsp;Back
        </a>
    </p>
    <hr />
    <div class="table-responsive">
        <table class="table table-success table-striped table-hover shadow">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Transaction Id</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody id="myTable" class="table-group-divider">
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <a class="btn btn-primary" href="javascript:showMore();">Show More</a>
    </div>
</div>


@section Scripts {
    <script>
        pageNo = 1;
        serialNo = 0;

        document.addEventListener("DOMContentLoaded", function () {
            showMore();
        })

        function showMore() {
            fetch("Transactions?handler=ShowMore&pageNo=" + pageNo + "&accountId=@Model.AccountId")
                .then((response) => response.json())
                .then((json) => {
                    pageNo = pageNo + 1
                    json.resultList.forEach(drawElements);
                });
        }

        function drawElements(element) {
            serialNo += 1;
            document.getElementById('myTable').innerHTML +=
                `<tr>
                        <td>${serialNo}</td>
                        <td>${element.transactionId}</td>
                        <td>${new Date(element.date).toLocaleDateString()}</td>
                        <td>${element.type}</td>
                        <td>${element.amount}</td>
                        <td>${element.balance}</td>
                    </tr>`
        }
    </script>
}