@page
@model TrustBankApp.Pages.Accounts.TransactionsModel
@{
}

<div class="container mt-5 pt-5 d-flex flex-column gap-3">
    <div class="section-title border border-danger">
        <h1>All Transactions</h1>
        <h3>Page @Model.CurrentPageNumber of @Model.TotalPages</h3>
    </div>
    <div class="d-flex justify-content-between border border-danger" style="border: 1px solid green;">
        <form class=" d-flex align-items-center" method="get">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control h-100"
                           asp-for="@Model.SearchText" placeholder="Id, Name, City or Address" />
                    <input type="hidden" asp-for="@Model.Transactions" />
                </div>

                <button type="submit" class="btn btn-primary p-2">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            @*<input type="text" placeholder="enter number of records per page" asp-for-pageSize="">*@
        </form>
        <div>
            <a class="btn btn-warning border-2 border-dark px-3 rounded-4" asp-page="/Index">
                <i class="fa-solid fa-arrow-left"></i>
                Back
            </a>
            <a class="btn btn-success border-2 border-dark px-3 rounded-4" asp-page="/Customers/CreateCustomer">
                <i class="fa-solid fa-plus fa-lg"></i>
                Create New
            </a>
        </div>
    </div>
    <div class="table-responsive border border-danger">
        <table class="table table-dark table-striped p-0 m-0">
            <thead>
                <tr>
                    <th scope="col">
                        Transaction Id
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-searchText="@Model.SearchText"
                           asp-route-pageNo = "@Model.CurrentPageNumber"
                           asp-route-sortColumn="transactionId"
                           asp-route-sortOrder="asc">
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-pageNo = "@Model.CurrentPageNumber"
                           asp-route-searchText="@Model.SearchText"
                           asp-route-sortColumn="transactionId"
                           asp-route-sortOrder="desc">
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    </th>
                    <th scope="col">
                        Date
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-pageNo = "@Model.CurrentPageNumber"
                           asp-route-sortColumn="Date"
                           asp-route-sortOrder="asc">
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-pageNo = "@Model.CurrentPageNumber"
                           asp-route-sortColumn="Date"
                           asp-route-sortOrder="desc">
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    </th>
                    <th scope="col">
                        Type
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-searchText="@Model.SearchText"
                           asp-route-sortColumn="type"
                           asp-route-sortOrder="asc">
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-sortColumn="type"
                           asp-route-sortOrder="desc">
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    </th>
                    <th scope="col">
                        Amount
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-searchText="@Model.SearchText"
                           asp-route-sortColumn="amount"
                           asp-route-sortOrder="asc">
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-sortColumn="amount"
                           asp-route-sortOrder="desc">
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    </th>
                    <th scope="col">
                        Balance
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-searchText="@Model.SearchText"
                           asp-route-sortColumn="balance"
                           asp-route-sortOrder="asc">
                            <i class="fa-solid fa-sort-up"></i>
                        </a>
                        <a asp-page="/Accounts/Transactions"
                           asp-route-accountId="@Model.AccountId"
                           asp-route-sortColumn="balance"
                           asp-route-sortOrder="desc">
                            <i class="fa-solid fa-sort-down"></i>
                        </a>
                    </th>

                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var transaction in Model.Transactions.Results)
                {
                    <tr>
                        <td>@transaction.TransactionId</td>
                        <td>@transaction.Date.ToShortDateString()</td>
                        <td>@transaction.Type</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Balance</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="border border-danger">
        <nav class="" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.CurrentPageNumber != 1)
                {
                    <li class="page-item">
                        <a class="page-link" 
                        asp-page="/Accounts/Transactions"
                       asp-route-accountId="@Model.AccountId"
                        asp-route-pageNo=0 
                        aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Transactions"
                       asp-route-accountId="@Model.AccountId"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPageNumber-1)">
                            Previous
                        </a>
                    </li>
                }

                @for (var i = Model.Transactions.StartPage; i <= Model.Transactions.EndPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Transactions"
                       asp-route-accountId="@Model.AccountId"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-startPage="@Model.StartPage"
                       asp-route-pageNo="@i">
                            @i
                        </a>
                    </li>

                }
                @if (Model.CurrentPageNumber != Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Transactions"
                       asp-route-accountId="@Model.AccountId"
                       asp-route-sortColumn="@Model.SortColumn"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNo="@(Model.CurrentPageNumber+1)">
                            Next
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                       asp-page="/Accounts/Transactions"
                       asp-route-accountId="@Model.AccountId"
                       asp-route-pageNo="@Model.TotalPages" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    </div>
</div>