@page
@model TrustBankApp.Pages.Accounts.TransferModel
@{
}

<div class="container mt-5 pt-5 d-flex flex-column gap-3">
    <div class="section-title border border-danger">
        <h1>Make a Deposit</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-between border border-danger p-lg-5 bg-dark rounded text-light" style="border: 1px solid green;">
        <form class="" method="post">
            <div class="input-group d-flex flex-column justify-content-center align-items-center">
                <h1>Account Number</h1>
                <h1>@Model.TransferViewModel.FromAccountId</h1>
                <h1>Current Balance</h1>
                <h1>@Model.TransferViewModel.FromAccountBalance</h1>
                <div class="form-outline">
                    <label asp-for="@Model.TransferViewModel.ToAccountId">To Account:</label>
                    <input class="" type="text" style="width: auto;" 
                        asp-for="@Model.TransferViewModel.ToAccountId" />
                    <span class="text-danger" 
                        asp-validation-for="@Model.TransferViewModel.ToAccountId"></span>
                </div>
                <div class="form-outline">
                    <input class="" type="text" style="width: auto;" 
                        asp-for="@Model.TransferViewModel.Amount" />
                    <span class="text-danger"
                          asp-validation-for="@Model.TransferViewModel.Amount"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary p-2">
                        Transfer
                    </button>
                    <button type="submit" class="btn btn-primary p-2"
                            asp-page="/Customers/Customer">
                        Back
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>